body{
font-family:Helvetica;
font-size:22px;
color:seashell;
background-color:black;
opacity:0.9;


}

/** HEADER **/
a{
  color:seashell;
  text-decoration:underline;
}
.header{
  margin-bottom:69px;
  border-bottom:1px solid seashell;
  display: flex;
  flex-grow: 1;
  overflow:hidden;
width:100%;
}

.header img {
padding-left: 10px;
padding-right:50px;

}

.header nav{
float: left;
display: block;

}

/** MISSION **/
.mission {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  background-position: center;
  display: block;
    margin-left: auto;
    margin-right: auto;
  width: 1200px;
  height:700px;
  position: relative;
}

.headers{
  background-color:black;
  position: absolute;
  top: 300px;
  text-align:center;
  width: 100%;

  /** TEA OF THE MONTH **/




}
